<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.mapper">

	<delete id="delete">
		delete from board where id=#{id}
	</delete>

	<update id="update">
		update board set title=#{title}, content=#{content},
		filepath=#{filepath},
		filename=#{filename},
		noticeyn=#{noticeyn}
		where id = #{id}
	</update>

	<update id="read">
		update board set readcnt = readcnt+1 where id=#{id}
	</update>

	<select id="select" resultType="board.vo.BoardVO">
		select (select name from member where userid=writer) writer, n.*
		from board n where id=#{id}
	</select>
	
 <sql id="search">
     <if test="search == 'title' or search == 'content' or search == 'writer'">
        where ${search} like '%' || #{keyword} || '%'
     </if>
     <if test="search == 'all'">
          where title like '%' || #{keyword} || '%'
          or content like '%' || #{keyword} || '%'
          or writer like '%' || #{keyword} || '%'
     </if>
</sql> 

	<!-- 글 개수를 확인하는 쿼리문 -->
	<select id="total" resultType="integer">
		select count(*) from board <include refid="search"/> 
	</select>

<select id="list" resultType="board.vo.BoardVO">
	<!-- 답글까지 순서대로 처리하여 보여지도록 -->
	select (select name from member where b.writer=userid) writer, b.* from
	(select rownum no, b.* from
	(select * from board <include refid="search"/> order by noticeyn, root, step desc) b
	order by no desc) b 
	where no between #{beginList} and #{endList}
</select>

<insert id="insert">
	insert into board(id, root, title, writer, noticeyn, content, filepath, filename)
	values (seq_board.nextval, seq_board.currval, #{title}, #{writer}, #{noticeyn}, #{content}, #{filepath}, #{filename} )
</insert>

</mapper>